# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://zvcbgtnrlajbfjbelamp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2Y2JndG5ybGFqYmZqYmVsYW1wIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg2NTM0ODUsImV4cCI6MjA3NDIyOTQ4NX0.H1rm5m6dPTEeiWVBTigw-5xFH0ilyrICneiplTJWNGM

# For local development only (do not commit to version control)
# SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key